@use "variables" as *;

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?egndfi') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?egndfi') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?egndfi##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.ico {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-axe {
  &:before {
    content: $ico-axe; 
  }
}
.ico-fishing-hook {
  &:before {
    content: $ico-fishing-hook; 
  }
}
.ico-pickaxe {
  &:before {
    content: $ico-pickaxe; 
  }
}
.ico-armor {
  &:before {
    content: $ico-armor; 
  }
}
.ico-gatherer {
  &:before {
    content: $ico-gatherer; 
  }
}
.ico-cook {
  &:before {
    content: $ico-cook; 
  }
}
.ico-hunter {
  &:before {
    content: $ico-hunter; 
  }
}
.ico-artisan {
  &:before {
    content: $ico-artisan; 
  }
}
.ico-backpack {
  &:before {
    content: $ico-backpack; 
  }
}
.ico-rest {
  &:before {
    content: $ico-rest; 
  }
}
.ico-role {
  &:before {
    content: $ico-role; 
  }
}
.ico-running {
  &:before {
    content: $ico-running; 
  }
}
.ico-character {
  &:before {
    content: $ico-character; 
  }
}

