$icomoon-font-family: "artifacts-icons" !default;
$icomoon-font-path: "fonts" !default;

$ico-armor: "\e907";
$ico-gatherer: "\e903";
$ico-cook: "\e904";
$ico-hunter: "\e905";
$ico-artisan: "\e906";
$ico-backpack: "\e900";
$ico-rest: "\e901";
$ico-role: "\e902";
$ico-character: "\f2ba";

