.characters {
    display: flex;
    align-items: start;
    width: 100%;
    gap: 1rem
}
.role-popover {
    --bs-popover-color: #fff;
    --bs-popover-header-color: #fff;
    --bs-popover-bg: #0c1513;
    --bs-popover-header-bg: #0c1513;
}
.action-list, .role-list {
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    gap: .5rem;
}
.character {
    --cd: 0%;
    --duration: 0s;
    flex: 1 0 calc(20% - .8rem);
    max-width: calc(20% - .8rem);
    display: flex;
    flex-direction: column;
    padding: 0;
    position: relative;
    max-height: calc(100vh - 4rem);
    box-shadow: 0 0 10px rgba(0,0,0,.5);

    .cooldown {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 5px;
        border-radius: 5px 5px 0 0;
        overflow: hidden;

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: var(--cd, 100%);
            height: 3px;
            transition: width var(--cd-duration, 0s) linear;
            background-color: rgb(92, 185, 123);
        }
    }
    .repr {
        padding: .55rem 1rem 1rem;
        display: flex;
        flex-wrap: wrap;
        position: relative;

        .desc {
            flex: 1 0 100%;
            display: flex;
            justify-content: space-between;

            .name {
                font-weight: bold;
            }
        }
        .position {
            position: absolute;
            right: 10px;
            bottom: 10px;
        }
    }
    .stats-actions  {
        flex: 1 0 auto;
        align-items: center;
    }
    .stats {
        padding: .75rem 0 .75rem .75rem;

        .health, .exp {
            width: 100%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            position: relative;
            z-index: 1;

            &::before, &::after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                background-color: var(--bar-color);
            }
            &::before {
                z-index: -2;
                width: 100%;
            }
            &::after {
                z-index: -1;
                width: var(--bar-value);
                transition: width 1s ease-in-out;
            }
        }
        .health {
            --bar-color: rgb(197, 40, 40);
            --bar-value: 75%;
            height: 1.35rem;
            border-radius: 2px 2px 0 0;
            margin-bottom: 2px;

            &::before {
                background-color: rgb(109, 51, 51);
            }
        }
        .exp {
            --bar-color: rgb(23, 159, 212);
            --bar-value: 25%;
            height: 4px;
            border-radius: 0 0 2px 2px;

            &::before {
                background-color: rgb(29, 80, 100);
            }
        }
    }
    .logs {
        overflow-y: scroll;
        scrollbar-width: thin;
        scrollbar-color: #4a4a4a transparent;

        ul {
            margin-bottom: 0;

            li {
                border-top: 2px solid rgba(0,0,0,.25);
                padding: 0.30rem 1rem;

            }
        }
    }
}